*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu",sans-serif;
}
#nav{
/* border: 2px solid red; */
height: 60px;
background-color: black;
}
#sub-nav{
    border: 2px solid ;
    height: inherit;
    margin: auto;
    width: 97%;
    
}
#sub-nav>article>ol{
    border: 2px solid black;
    width: 290px;
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

#logo-1{
    width: 120px;
    height: 40px;
    
}
#nav svg{
    width: 40px;
    height: 40px;
}
#nav aside{
   border: 2px solid;
   width: 30%;
   position: relative;
   top:-37px;
   left: 1060px;
}
#nav aside ol{
    display: flex;
    list-style-type: none;
justify-content: space-around;
font-size: 20px;
color: #ebebeb;
}
svg{
    fill: #ebebeb;
}

.status-indicator.status-indicator-none {
    background-color: #2ecc71;
}
.status-indicator {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin: 0 0 0 5px;
    width: 10px;
}
#main-2{
    /* border: 2px solid green; */
    height: 600px;
position: relative;
        /* background-attachment: scroll;
        background-image: url(./Images/6da6dfe9adcee0de10efcad20d5b33d7\ \(1\).svg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover; */
    background-color: #454647;
    z-index: -1;

}
#content{
    /* border: 2px solid rebeccapurple; */
    height: 500px;
    width: 60%;
    position: absolute;
    top: 80px;
    left: 240px;
    /* background-color: yellow; */
    z-index: 1;
    color: #ebebeb;
}
#content h1{
    font-size: 48px;
    font-weight: 400;
}
#content h2{
    font-family: "Ubunt2u",sans-serif;
    font-weight: 300;
    color: #ebebeb;
    font-size: 24px;
    letter-spacing: .2px;
}

input{
    width: 780px;
    height: 45px;
    position: absolute;
    top: 350px;
    left: 50px;
    text-align: left;
    font-size: 20px;

}

footer{
background-color: black;
    /* border: 2px solid red;
     */
    height: 300px;
}
footer img{
    width: 200px;
    background-color: black;
    position: absolute;
    top: 750px;
    left: 40px;
}
#ol-1{
    color: white;
    position: absolute;
    left: 440px;
    list-style: none;
    line-height: 30px;
    top: 720px;
}
#ol-2{
    color: white;
    position: absolute;
    top: 730px;

    list-style-type: none;
    left: 880px;
    line-height: 30px;

}